.yt-wrap {
    width: 1190px;
    margin: 0 auto;
}
.yt_card {
    height: 167px;
    margin: 34px auto;
    border: 1px solid #eee;
    overflow: hidden;
}
.yt_card div {
    float: left;
    height: 165px;
    cursor: pointer;
    overflow: hidden;
}
.yt_card .public-one {
    width: 395px;
}
.yt_card div a {
    display: block;
    width: 390px;
    height: 165px;
    margin: 0 auto;
}
.yt_card .public-two {
    width: 396px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
/*footer*/
#ft {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #fff;
}
#ft .itips {
    width: 1188px;
    height: 88px;
    margin-bottom: 35px;
    border: 1px solid #eee;
    background-color: #f7f7f7;
}
#ft .itips span {
    float: left;
    border-right: 1px solid #eee;
    font-family: "\5fae\8f6f\96c5\9ed1";
}
#ft .itips span strong {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
#ft .itips .service {
    width: 282px;
    height: 68px;
    padding: 20px 0 0 45px;
}
#ft .itips .service strong {
    display: inline-block;
    padding: 0 20px 0 24px;
    font-size: 20px;
    font-family: Arial;
    color: #e5004f;
    font-weight: 400;
    background: url(../img/footer/footer-01.png) 2px 0 no-repeat;
}
#ft .itips .service i {
    font-style: normal;
}
#ft .itips .service b {
    padding-left: 24px;
    font-size: 14px;
    font-family: Arial;
    background: url(../img/footer/footer-01.png) 0 -28px no-repeat;
    font-weight: 400;
color: #888;
}
#ft .itips .delivery {
    width: 186px;
    height: 65px;
    padding: 23px 0 0 100px;
    background: url(../img/footer/footer-01.png) 52px -56px no-repeat;
}
#ft .itips span strong i {
    font-style: normal;
    color: #e5004f;
}
#ft .itips span b {
    font-weight: 400;
    color: #888;
}
#ft .itips .genuine {
    width: 182px;
    height: 65px;
    padding: 23px 0 0 104px;
    background: url(../img/footer/footer-01.png) 52px -132px no-repeat;
}
#ft .itips .freight {
    width: 140px;
    border-right: none;
    height: 65px;
    padding: 23px 0 0 115px;
    background: url(../img/footer/footer-01.png) 52px -203px no-repeat;
}
#ft .ilinks {
    text-align: center;
    margin-bottom: 25px;
    width: 1190px;
    margin: 0 auto;
}
#ft .ilinks a {
    margin: 0 10px;
    color: #757575;
}
#ft .copyright {
    text-align: center;
}
#ft .copyright p {
    line-height: 22px;
    color: #b2b2b2;
}
#ft .copyright p {
    line-height: 22px;
    color: #b2b2b2;
}
#ft .copyright p a {
    margin: 0 6px;
    color: #b2b2b2;
}
#ft .all-mark {
    padding: 10px 0 20px;
    text-align: center;
}
#ft .all-mark a.m-integrity {
    width: 112px;
    height: 40px;
}
#ft .all-mark a {
    display: inline-block;
    margin: 0 12px;
    vertical-align: middle;
}
#ft .all-mark a.cnnic {
    width: 102px;
    height: 40px;
}
#ft .all-mark a.cnnic img {
    width: 102px;
    height: 40px;
}
#ft .all-mark a.commerce {
    width: 48px;
    height: 48px;
}
/*footer完成*/
/*右侧导航栏*/
.float_nav {
    width: 50px;
    height: 545px;
    position: fixed;
    left: 50%;
    bottom: 20px;
    margin-left: 600px;
    display: none;
    
}
.float_nav a {
    display: block;
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    padding: 5px 10px 15px;
    line-height: 999px;
    overflow: hidden;
    color: #fff;
    font-size: 14px;
    background: url(../img/footer/floor_nav.png) 0 0 no-repeat;
}
.float_nav .f_active {
    background-image: none;
    line-height: 18px;
    background: #e5004f;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.float_nav .Y_floor_mp {
    background-position: 0 0;
}
.float_nav a:hover{
    background-image: none;
    background-color: #e5004f;
    line-height:18px;
    text-align: center;

}   
.float_nav .Y_floor_wz{
    background-position: 0 -55px;
}
.float_nav .Y_floor_nz{
    background-position: 0 -110px;
}
.float_nav .Y_floor_xx{
    background-position: 0 -165px;
}
.float_nav .Y_floor_xb{
    background-position: 0 -220px;
}
.float_nav .Y_floor_hf{
    background-position: 0 -275px;
}
.float_nav .Y_floor_yd{
    background-position: 0 -330px;
}
.float_nav .Y_floor_ps{
    background-position: 0 -385px;
}
.float_nav .Y_floor_ty{
    background-position: 0 -440px;
}
.float_nav .Y_floor_top{
    background-position: 0 -495px;
}
